/*---------------------------------------------------------
 * Forms
---------------------------------------------------------*/
.cmb2-wrap .cmb-th {
  width: 100%;
  padding: 0.5em 0 0;
}
.cmb2-wrap .cmb-td {
  padding: 0.5em 0 0;
}
.cmb2-wrap input[type="text"],
.cmb2-wrap input[type="select"],
.cmb2-wrap input[type="email"],
.cmb2-wrap select {
  width: 300px !important;
  max-width: 100%;
}
.cmb2-wrap div.mce-edit-area,
.cmb2-wrap div.mce-toolbar-grp {
  border-right: 1px solid #dedede !important;
  border-left: 1px solid #dedede !important;
}
.cmb2-wrap div.mce-toolbar-grp {
  border-top: 1px solid #dedede !important;
}
.cmb2-wrap .mce-flow-layout {
  border: 1px solid #dedede !important;
}
.cmb2-wrap .mce-panel {
  border: 0 solid #dedede !important;
  background-color: #f0f0f0 !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd), to(#ddd)) !important;
  background-image: -webkit-linear-gradient(top, #fdfdfd, #ddd) !important;
  background-image: linear-gradient(to bottom, #fdfdfd, #ddd) !important;
  background-repeat: repeat-x !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffdfdfd', endColorstr='#ffdddddd', GradientType=0) !important;
  zoom: 1 !important;
}
.cmb2-wrap .cmb-type-wysiwyg .cmb-td {
  width: 100%;
  padding: 15px 0;
}
.cmb2-wrap .cmb-repeat-group-wrap {
  margin-top: 1em !important;
}
.cmb2-wrap .cmb-nested {
  width: 99% !important;
}
.cmb2-wrap .cmb2-metabox .cmb-repeat-group-wrap {
  max-width: none;
}
.cmb2-wrap .select2-container .select2-selection--multiple .select2-selection__rendered {
  display: block !important;
}
.cmb2-wrap .select2-container .select2-selection--single {
  height: 33px;
}
.cmb2-wrap .select2-container--default {
  min-width: 300px;
}
.cmb2-wrap .select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px;
  color: #666;
}
.cmb2-wrap .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #666;
  line-height: 1.3em;
}
.cmb2-wrap .select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 4px;
}
.cmb2-wrap .select2-container--default .select2-search--inline .select2-search__field {
  padding: 0;
}
.cmb2-wrap .select2-selection__choice {
  margin-bottom: 0;
}
.cmb2-wrap .ppw-hide {
  display: none;
}
.cmb2-wrap .ppw-show {
  display: block;
}

/*---------------------------------------------------------
 * Project Listing
---------------------------------------------------------*/
.ppw__project-display {
  display: none;
}

@media screen and (min-width: 768px) {
  .ppw__project-display {
    display: block;
  }
}
.ppw__project-display--mobile {
  display: block;
}

@media screen and (min-width: 768px) {
  .ppw__project-display--mobile {
    display: none;
  }
}
.ppw__project-display--entry {
  position: relative;
}
.ppw__project-display--entry .ppw__categories a {
  position: relative;
  z-index: 2;
}
.ppw__project-display--entry .ppw__products--link {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
